<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Knowledge Extraction</display-name> 

<servlet>
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>   

<servlet>
	<servlet-name>RegistrationServlet</servlet-name>
	<servlet-class>RegistrationServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>RegistrationServlet</servlet-name>
	<url-pattern>/RegistrationServlet</url-pattern>
</servlet-mapping>   

<servlet>
	<servlet-name>DeleteUC_SettingServlet</servlet-name>
	<servlet-class>DeleteUC_SettingServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DeleteUC_SettingServlet</servlet-name>
	<url-pattern>/DeleteUC_SettingServlet</url-pattern>
</servlet-mapping>   

<servlet>
	<servlet-name>InsertUC_SettingServlet</servlet-name>
	<servlet-class>InsertUC_SettingServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>InsertUC_SettingServlet</servlet-name>
	<url-pattern>/InsertUC_SettingServlet</url-pattern>
</servlet-mapping>   


<servlet>
	<servlet-name>RetrieveCrawlerServlet</servlet-name>
	<servlet-class>RetrieveCrawlerServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>RetrieveCrawlerServlet</servlet-name>
	<url-pattern>/RetrieveCrawlerServlet</url-pattern>
</servlet-mapping>   


<servlet>
	<servlet-name>UpdateUC_SettingServlet</servlet-name>
	<servlet-class>UpdateUC_SettingServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>UpdateUC_SettingServlet</servlet-name>
	<url-pattern>/UpdateUC_SettingServlet</url-pattern>
</servlet-mapping>   


<servlet>
	<servlet-name>UpdateUserServlet</servlet-name>
	<servlet-class>UpdateUserServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>UpdateUserServlet</servlet-name>
	<url-pattern>/UpdateUserServlet</url-pattern>
</servlet-mapping>   

<servlet>
	<servlet-name>LogoutServlet</servlet-name>
	<servlet-class>LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>LogoutServlet</servlet-name>
	<url-pattern>/LogoutServlet</url-pattern>
</servlet-mapping> 



 <!-- Tell the server to use form-based authentication. -->
<login-config>
<auth-method>FORM</auth-method>
	<form-login-config>
	   <form-login-page>/login.html</form-login-page>
	   <form-error-page>/errorpage.jsp</form-error-page>
	</form-login-config>
</login-config>

<!--<security-constraint>
        <web-resource-collection>
             <web-resource-name>example</web-resource-name>
                   <url-pattern>/*</url-pattern>
                   <http-method>GET</http-method>
                   <http-method>POST</http-method>
            </web-resource-collection>
            <auth-constraint>
                   <role-name>Developer</role-name>
             </auth-constraint>
</security-constraint>
    
<security-role>
      <role-name>Manager</role-name>
      <role-name>Developer</role-name>
      
</security-role>-->

    
  <context-param>
    <param-name>properties</param-name>
    <param-value>C:\Program Files\Apache Software Foundation\Tomcat 6.0\webapps\biofulltextminer\WEB-INF\classes\build.properties</param-value>
  </context-param>
 
  <welcome-file-list id="WelcomeFileList_1">
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>

</web-app>
